name: Rust

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  ci:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - name: Check
        run: cargo check --verbose
      - name: Run tests
        run: cargo test --verbose
